note: 'train'
# configs of data

model: 'deeplab'
method: 'ld'
#simsfss: our method, shot1: w/ mutual loss, shot2: w/ cluster-based perudo-label, shot: w/ both,
#pseudo: direct pseudo label, pseudo_select: select pseudo with softmax confidence, entmin:entropy minimization
#pseudo_entmin:pseudo+entmin
train: True
multigpu: False
fixbn: True
fix_seed: True


# target Plabel
cb_prop: 0.1
num_center: 10
lamb: 0.5

# source Image Selection
src_count: 1191
src_pix_prop: 0.9
src_pix_select: True
pool_prop: 0.2

# Selction and Fix 
src_fix: False
tgt_fix: False
src_select: True
tgt_select: True

# Re start training
resume: False
start: 0
round_start: 0

# Optimizaers
learning_rate: 0.0001
num_steps: 5000
epochs: 1
weight_decay: 0.0005
momentum: 0.9
power: 0.9
round: 2

# Logging
print_freq: 100
save_freq: 30000
tensorboard: False
neptune: False
screen: True
val: True
val_freq: 200

# Dataset 
source: 'gta5'
target: 'cityscapes'
worker: 4
batch_size: 3
num_classes: 19

#Transforms
input_src: 720
input_tgt: 720
crop_src: 600
crop_tgt: 600
mirror: True
scale_min: 0.5
scale_max: 1.5
rec: False

init_weight: '/mnt/e5254a2d-db6d-420a-b4ea-ee215b9c32a3/youfuming/pretrained_model/deeplabv2_resnet101/gta5_source_only.pth'
restore_from: None


snapshot: './snapshot/'
result: './miou_result/'
log: './log/'
plabel: './plabel'
gta5: {
  data_dir: '/mnt/e5254a2d-db6d-420a-b4ea-ee215b9c32a3/youfuming/right_datasets/gtav/',
  data_list: './dataset/list/gta5_list.txt',
  input_size: [1280, 720]
}
synthia: {
  data_dir: '/mnt/e5254a2d-db6d-420a-b4ea-ee215b9c32a3/youfuming/synthia/',
  data_list: './dataset/list/synthia_list.txt',
  input_size: [1280, 760]
}
cityscapes: {
  data_dir: '/mnt/e5254a2d-db6d-420a-b4ea-ee215b9c32a3/youfuming/right_datasets/cityscapes2/',
  data_list: './dataset/list/cityscapes_train.txt',
  input_size: [1024, 512]
}
